<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("index","Shop")" )>
            <img src="~/Content/images/cart.png" />
            购物车(<text id="cart-count">@ViewBag.Count</text>)
        </a>
    </li>
</ul>
